<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
   	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="generator" content="WordPress 3.2.1" /><!--LEAVE FOR STATS -->
	<meta name="description" content="Where Joe, Christine, Esther, Katherine and Bethany do life" />
	<link rel="start" href="http://thosemartins.us/" title="*Those* Martins" /> 
  <meta name="generator" content="Jekyll" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>*Those* Martins :: {{ page.title }}</title> 
	<script type="text/javascript" src="/js/application.js"></script> 
<script type="text/javascript" src="/js/controls.js"></script> 
<script type="text/javascript" src="/js/dragdrop.js"></script> 
<script type="text/javascript" src="/js/effects.js"></script> 
<script type="text/javascript" src="/js/prototype.js"></script> 
<script type="text/javascript" src="/js/swfobject.js"></script> 
<script type="text/javascript" src="/sfProtoculousPlugin/js/prototype.js"></script> 
	<link rel="stylesheet" type="text/css" media="screen" href="/css/plaintxtBlog.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/css/scaffold.css" /> 
	<link href="/medium" rel="alternate" title="RSS: medium videos" type="application/rss+xml" /> 
	<link href="/mobile" rel="alternate" title="RSS: small videos" type="application/rss+xml" /> 
 
<!-- STYLES PLACED AS SET IN THE THEME OPTIONS MENU --> 
<style type="text/css" media="all"> 
/*<![CDATA[*/
body {
		font-size: 70%;
		font-family: verdana, geneva, sans-serif;
	}
div.post-entry p { text-align: justify; }
/*]]>*/
</style> 
	</head> 
<body> 

<div id="header">
	<h1 id="title"><a href="http://thosemartins.us/" title="*Those* Martins">*Those* Martins</a></h1>
	<p id="description">Where Joe, Christine, Esther, Katherine and Bethany do life</p>
</div><!-- END HEADER -->
<!-- Rendered in 0.014 seconds.  -->
<div id="col1" class="sidebar">
	<ul>
	<li class="pagenav"><h2>Contents</h2><ul><li class="page_item page-item-42"><a href="http://thosemartins.us/our-representatives/" title="Our Representatives">Our Representatives</a></li> 
<li class="page_item page-item-54"><a href="http://thosemartins.us/about-joe-martin/" title="About Joe Martin">About Joe Martin</a></li> 
<li class="page_item page-item-57"><a href="http://thosemartins.us/esther-kaylee/" title="Welcome Esther Kaylee">Welcome Esther Kaylee</a></li> 
</ul></li><li id="meta"><h2>Meta</h2><ul><li><a href="http://thosemartins.us/wp-admin/">Site Admin</a></li><li><a href="http://thosemartins.us/wp-login.php?action=logout&#038;_wpnonce=9cae90463c">Log out</a></li></ul></li>		<li id="feed-link">
			<h2>RSS Feeds</h2>
			<ul>
				<li>Posts <a href="http://thosemartins.us/feed/" title="*Those* Martins RSS 2.0 (XML) Feed" rel="alternate" type="application/rss+xml"><img src="http://thosemartins.us/wp-content/themes/plaintxtBlog2/icons/feed.png" alt="RSS 2.0 XML Feed" /></a></li>
				<li>Comments <a href="http://thosemartins.us/comments/feed/" title="*Those* Martins Comments RSS 2.0 (XML) Feed" rel="alternate" type="application/rss+xml"><img src="http://thosemartins.us/wp-content/themes/plaintxtBlog2/icons/feed.png" alt="Comments RSS 2.0 XML Feed" /></a></li>
			</ul>
		</li>
		<li id="search">
			<h2><label for="s">Search</label></h2>
			<form id="searchform" method="get" action="http://thosemartins.us/">
	<div>
		<input id="s" name="s" type="text" value="" size="5" tabindex="1" />
		<input id="searchsubmit" name="searchsubmit" type="submit" value="Find" tabindex="2"/>
	</div>
</form> 		</li>
	</ul>
</div><!-- END COL1 SIDEBAR -->

<div id="col2" class="sidebar">
	<ul>
			<li id="category-links">
			<h2>Categories</h2>
			<ul>
					<li class="cat-item cat-item-3"><a href="http://thosemartins.us/blog/category/esther/" title="View all posts filed under Esther">Esther</a> 
</li> 
	<li class="cat-item cat-item-4"><a href="http://thosemartins.us/blog/category/financial-planning/" title="View all posts filed under Financial Planning">Financial Planning</a> 
</li> 
	<li class="cat-item cat-item-5"><a href="http://thosemartins.us/blog/category/journal/" title="View all posts filed under Journal">Journal</a> 
</li> 
	<li class="cat-item cat-item-7"><a href="http://thosemartins.us/blog/category/misc-links/" title="View all posts filed under Misc Links">Misc Links</a> 
</li> 
	<li class="cat-item cat-item-10"><a href="http://thosemartins.us/blog/category/stuff-to-think-about/" title="View all posts filed under Stuff to Think About">Stuff to Think About</a> 
</li> 
	<li class="cat-item cat-item-11"><a href="http://thosemartins.us/blog/category/weight-management/" title="View all posts filed under Weight Management">Weight Management</a> 
</li> 
	<li class="cat-item cat-item-12"><a href="http://thosemartins.us/blog/category/work/" title="View all posts filed under Work">Work</a> 
</li> 
			</ul>
		</li>
		<li id="linkcat-13" class="linkcat"><h2>Family Links</h2> 
	<ul class='xoxo blogroll'> 
<li><a href="http://www.cowboynate.com/">Nate Martin</a></li> 
<li><a href="http://blog.philipjoel.com/" rel="friend sibling">Phil Martin</a></li> 
<li><a href="http://soldout.desertflood.com/">Hallie Martin</a></li> 
<li><a href="http://www.flickr.com/photos/86306351@N00/">Nate&#8217;s Photo Blog</a></li> 
 
	</ul> 
</li> 
<li id="linkcat-7" class="linkcat"><h2>Misc Links</h2> 
	<ul class='xoxo blogroll'> 
<li><a href="http://www.blackhawkchurch.org/">Blackhawk Church</a></li> 
 
	</ul> 
</li> 
<li id="linkcat-14" class="linkcat"><h2>Our Sites</h2> 
	<ul class='xoxo blogroll'> 
<li><a href="http://www.flickr.com/martinsinwisconsin">Our Photos</a></li> 
<li><a href="http://videohub.desertflood.com/">Our Videos</a></li> 
<li><a href="http://www.desertflood.com/wedding/">Our Wedding</a></li> 
<li><a href="http://minorscraps.desertflood.com/">Minor Scraps</a></li> 
<li><a href="http://minorthoughts.com/">Minor Thoughts</a></li> 
<li><a href="http://is.gd/fryC">Family Calendar</a></li> 
 
	</ul> 
</li> 
		</ul>
</div><!-- END COL2 SIDEBAR -->
<!-- Rendered in 0.011 seconds.  -->

<div id="content" class="narrowcolumn">

  {{content}}

	<div class="navigation">
		<div class="alignleft"><a href="http://thosemartins.us/page/2/" >&laquo; Older posts</a></div>
		<div class="alignright"></div>
		<div class="middle"><a href="http://thosemartins.us/" title="Home: *Those* Martins">Home</a></div>
	</div><!-- END NAVIGATION -->

</div><!-- END CONTENT -->

<div id="footer">
	<p id="blog-footer">
		&copy; 2011 Joe Martin		|
		Powered by <a href="http://wordpress.org/" title="WordPress">WordPress</a>
		|
		<a href="http://www.plaintxt.org/themes/plaintxtblog/" title="plaintxtBlog" rel="follow">plaintxtBlog</a> theme by <a href="http://scottwallick.com/" title="scottwallick.com" rel="follow">Scott</a>
		|
		Sponsor: <a href="http://www.digitalflowers.com/California/Los+Angeles/Los+Angeles_CA.htm" title="Flowers Delivery in Los Angeles">Los Angeles Flower Delivery</a>
				|
		Valid <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0 Strict" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/validator?profile=css2&amp;warning=2&amp;uri=http://thosemartins.us/wp-content/themes/plaintxtBlog2/style.css" title="Valid CSS" rel="nofollow">CSS</a>
		|
		<a href="http://thosemartins.us/feed/" title="*Those* Martins RSS 2.0 (XML) Feed" rel="alternate" type="application/rss+xml">Posts RSS</a> &amp;  <a href="http://thosemartins.us/comments/feed/" title="*Those* Martins Comments RSS 2.0 (XML) Feed" rel="alternate" type="application/rss+xml">Comments RSS</a>
	</p>
</div><!-- END FOOTER -->

<!-- The "plaintxtBlog" theme copyright (c) 2006 Scott Allan Wallick - http://www.plaintxt.org/themes/ -->
</body>
</html>
 
