---
layout: default
---

<div class="post"> 
  <div id="post-{{ post.id }}" class="post-header"> 
    <h2 class="post-title"><a title="Permalink to {{ post.title }}" rel="bookmark" href="{{ post.permalink }}">{{ post.title }}</a></h2> 
    <h3 class="post-date">{{ post.date }}</h3> 
	</div><!-- END POST-HEADER  --> 
	<div class="post-entry"> 
    <p>{{ post.description }}</p>
 
    <div id="video-{{ post.id }}"> 
      <a href="#" onclick="new Ajax.Updater('video-{{ post.id }}', '/video/embed/{{ post.id }}', {asynchronous:true, evalScripts:true});; return false;"><img src="{{ post.posterURL }}" /></a>		</div> 
    <a href="{{ post.hq_URL }}">Download high quality video</a>		<br style="clear:both;" /> 
 
	</div><!-- END POST-ENTRY --> 
	<div class="post-metadata"> 
		<p class="post-footer"> 
      <a title="Permalink to {{ post.title }}" rel="bookmark" href="{{ post.permalink }}">Permalink</a>					</p> 
	</div><!-- END POST-METADATA --> 
</div><!-- END POST -->

